.mainLayout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "leftbar content rightbar";
    height: 100vh;
    gap: 4px;
}

.leftbar {
    grid-area: leftbar;
    background-color: var(--bg-color);
    padding: 20px;
    display: flex;
    justify-content: left;
    min-width: var(--sidebar-width-collapsed);
    max-width: var(--sidebar-width);
    height: 100dvh;
}

.content {
    grid-area: content;
    background-color: var(--bg-color);
    padding: 20px;
    height: 100dvh;
}

.rightbar {
    grid-area: rightbar;
    padding: 20px;
    display: flex;
    justify-content: left;
    min-width: 100px;
    min-width: var(--sidebar-width-collapsed);
    max-width: var(--sidebar-width);
    height: 100dvh;
}
