.chatGeneral {
    width: 220px;
    background: var(--light-bg-color);
    height: 400px;
    border-radius: 32px;
    overflow-y: auto;
    position: relative;

    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        height: 220px;
        overflow-y: auto;
    }

    .tittle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .collapseBtn {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .icon {
        fill: var(--accent-color);
    }
}

.collapsed {
    height: 120px;
    overflow: hidden;

    .items {
        visibility: hidden;
    }

    .collapseBtn {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}
