:root,
.app_light_theme {
    --dark-bg-color: #f5f5f5;
    --bg-color: #fff;
    --light-bg-color: #ececec;
    --text-color: #222;
    --hint-color: #888;
    --cancel-color: #e53935;
    --save-color: #43a047;
    --icon-color: #6b8e94;
    --accent-color: #08c;
}
